@CHARSET "ISO-8859-1";

.filter-container
{
	border: 1px solid gray; 
	border-radius: 4px; 
	margin-top: 10px; 
	margin-bottom: 15px; 
	padding: 15px; 
	height: 115px;
	width: 100%;
}

.filter-container .status-container
{
	width: 280px; 
	float:left; 
	height: 38px;
}

.filter-container .company-container
{
	width: 373px; 
	margin-left: 5px; 
	float:left; 
	height: 38px;
}

.filter-container .company-container label
{
	width: 100px; 
	float:left; 
}

.filter-container .company-container .name
{
	width: 247px; 
	float: left; 
	height: 24px;
	line-height: 10px;
}

.filter-container .candidate-container
{
	width: 373px; 
	margin-left: 5px; 
	float:left; 
	height: 38px;
}

.filter-container .candidate-container label
{
	width: 100px; 
	float:left; 
}

.filter-container .candidate-container .name
{
	width: 247px; 
	float: left; 
	height: 24px;
	line-height: 10px;
}

.filter-container .jobpos-container
{
	margin-top: 8px; 
	float:left; 
	height: 38px;
	width: 100%;
}

.filter-container .jobpos-container label
{
	width: 110px; 
	float:left; 
}

.filter-container .jobpos-container .name
{
	width: calc(100% - 110px); 
	float: left; 
	height: 24px;
	line-height: 10px;
}

.filter-container a.brows
{
	float: left; 
	margin-left: -20px; 
	margin-top: 4px;
}

.filter-container a.remove
{
	float: left; 
	margin-left: -37px; 
	margin-top: 4px;
	
}

.text-container
{
	margin-top: 5px; 
	margin-bottom: 15px; 
	padding: 0;
}

.listcontainer
{
	height: calc(100% - 80px) !important;
}

.listcontainer .list .ui-selecting 
{ 
	background: #FE4040; 
}

.listcontainer .list .ui-selected 
{ 
	background: #F39814; 
	color: white; 
}

.listcontainer .list 
{ 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	width: 99%; 
	overflow-y: auto;
    height: calc(100% - 5px);
}

.listcontainer .list li 
{ 
	margin: 3px; 
	padding: 0.4em; 
	font-size: 12px; 
	height: 26px; 
	cursor: pointer;
	overflow: hidden;
}

.listcontainer .list li:hover
{ 
	background: #F3d8a4; 
}
  
.loading
{
	position: absolute;
    left: 70px;
    top: 120px;
    width: 150px;
    display: none;
}

  
  
  
