@CHARSET "ISO-8859-1";

a.brows
{
	float: left; 
	margin-left: -20px; 
	margin-top: 7px;
	cursor: pointer;
}

a.remove
{
	float: left; 
	margin-left: -37px; 
	margin-top: 7px;
	cursor: pointer;
}

.text-container
{
	margin-top: 5px; 
	margin-bottom: 15px; 
	padding: 0;
}

.listcontainer
{
	height: calc(100% - 80px) !important;
}

.listcontainer .list .ui-selecting 
{ 
	background: #FE4040; 
}

.listcontainer .list .ui-selected 
{ 
	background: #F39814; 
	color: white; 
}

.listcontainer .list 
{ 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	width: 99%; 
	overflow-y: auto;
    height: calc(100% - 5px);
}

.listcontainer .list li 
{ 
	margin: 3px; 
	padding: 0.4em; 
	font-size: 12px; 
	height: 26px; 
	cursor: pointer;
	overflow: hidden;
}

.listcontainer .list li:hover
{ 
	background: #F3d8a4; 
}

.loading
{
	position: absolute;
    left: 70px;
    top: 120px;
    width: 150px;
    display: none;
}

.add-text-item
{
	width: calc(90% - 113px) !important;
	height: 30px;
	margin-right: 0;
}

.addbutton
{
	border: 2px solid #72a84f;
	background-color: #72a84f;
	color: white;
	border-radius: 4px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	width: 113px;
	font-family: Arial;
	line-height:22px;
	height: 30px;
	margin-left: -4px;;
}

.task-item-container
{
	border: 1px solid gray; 
	background-color: white; 
	height: 150px; 
	
	margin-top: 5px; 
	padding: 4px;
	overflow-y: auto;
    overflow-x: hidden;
}

.task-item
{
	border: 1px solid #cccccc; 
	background-color: #f9f0f0; 
	margin: 4px; 
	padding-left: 7px;
}

.task-item .material-icons
{
	float: right;
	cursor: pointer;
	font-size: 16px;
	margin-top: 2px;
	margin-right: 5px;
}

div.title
{
	font-weight: bold;
}

.list-container
{
	margin-bottom: 20px;
}

  
  
  
