html,
body {
    height: 100%;
    font-family: Tahoma !important;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto 0;
    padding: 0 ;
}

.wrap > .container {
    padding: 5px 10px 15px;
}

.wrap > .container.backend-container {
    float: none; 
    width: calc(100vw - 150px) !important; 
    max-width: calc(100vw - 150px) !important;
    min-height: calc(100vh - 95px);
}

.wrap > .backend-navbar {
    float: left; 
    width: 200px;
}

.footer {
    height: 30px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
}

.site-index
{
    font-family: Tahoma;
	
}

.body-content
{
	color: #19256d;
}

.site-index .body-content .head
{
    font-family: Tahoma;
    font-size: 22px;
    font-weight: bold;
	border: 1px solid #a9cb14;
	padding: 6px;
	width: 170px;
	display: block;
	text-align: center;
	border-radius: 3px;
	margin-bottom: 6px;
}

.site-index .body-content .row
{
	padding: 20px;
	margin-top: 20px;
}

.site-index .body-content .row .col-lg-1
{
	width: 30%;
}

.site-index .body-content .row .col-lg-1 .col-in
{
	width: 300px;
	font-weight: bold;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
    font-family: Tahoma;
    color: #19256d;
}

.jumbotron h1 {
    text-align: center;
    
    color: #19256d !important;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

@media(max-width:768px) {
	.nav li > form {
	    padding: 3px;
	}
}

.nav > li > form > button:hover {
    text-decoration: none;
}

.tree_sep
{
	background-image: url(../images/tree_sep1.png);
	background-repeat: no-repeat;
}

.tree_skill_disabled_lock
{
	color: lightgray;
	background-image: url(../images/Actions-document-encrypt-icon.png);
	background-repeat: no-repeat;
	background-position : 50% 50%;
	background-size : 22px 22px;
}

.statusbutton_open
{
	background-image: url(../images/Actions-document-decrypt-icon.png);
	background-repeat: no-repeat;
	background-position : 0px 0px;
	background-size : 16px 16px;
	width : 18px;
	height : 20px;
	border: none;
	background-color: transparent;
	margin-right: 2px;
}

.statusbutton_close
{
	background-image: url(../images/Actions-document-encrypt-icon.png);
	background-repeat: no-repeat;
	background-position : 0px 0px;
	background-size : 16px 16px;
	width : 18px;
	height : 20px;
	border: none;
	background-color: transparent;
	margin-right: 2px;
}

.editbutton
{
	background-image: url(../images/Actions-document-edit-icon.png);
	background-repeat: no-repeat;
	background-position : 0px 0px;
	background-size : 16px 16px;
	width : 18px;
	height : 20px;
	border: none;
	background-color: transparent;
	margin-right: 2px;
}

.deleteutton
{
	background-image: url(../images/Actions-edit-delete-icon.png);
	background-repeat: no-repeat;
	background-position : 0px 0px;
	background-size : 16px 16px;
	width : 18px;
	height : 20px;
	border: none;
	background-color: transparent;
	margin-right: 2px;
}

.addchildbutton
{
	background-image: url(../images/insert-node-icon.png);
	background-repeat: no-repeat;
	background-position : 0px 0px;
	background-size : 16px 16px;
	width : 18px;
	height : 20px;
	border: none;
	background-color: transparent;
	margin-right: 2px;
}

.button_ok
{
	background-image: url(../images/Actions-dialog-ok-apply-icon.png) !important;
    background-position: -2px , 0 !important;
    background-size: 20px !important;	
}

.button_cancel
{
	background-image: url(../images/Actions-dialog-cancel-icon.png) !important;
    background-position: -2px , 0 !important;
    background-size: 20px !important;	
}

.tree_nav_access
{
	text-align: center !important;
	width: 60px
}

.tree_status_lock
{
	color: lightgray;
}

.tree_status_lock span.status
{
	color: #eeaa33;
}

.tree_status_notapp
{
	color: #ee3366;
	font-weight: bold;
}

.tree_status_notapp span.status
{
	color: #ff3333;
	
}

input:required:invalid, input:focus:invalid, textarea:required:invalid, textarea:focus:invalid {
    background-image: url(../images/Emblems-emblem-important-icon.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    box-shadow: none;
}

input:required:valid, input:focus:valid, textarea:required:valid, textarea:focus:valid{
    background-image: url(../images/Actions-dialog-ok-apply-icon.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    box-shadow: none;
}

input:required:invalid~.invalid-feedback, 
input:required:invalid~.invalid-tooltip {
     display: block;
}



.help-block1{
	background-color: #f8e5e5;
    color: #a40505;
    padding: 3px 15px;
}


#dvleftmenu_wrapper
{
	min-height: calc(100vh - 32px);
	height: 100%;
	padding-top:30px;
}

ul.ui-widget-content
{
	background: #eee;
	border : 0 !important;
}

ul.ui-front
{
	border: 1px solid #a9cb14 !important;
}

li.ui-menu-item
{
	border-bottom: 1px solid #a9cb14;
	font-size: 16px;
	padding: 3px;
}

li.ui-menu-item div a
{
	color: #19256d;
	font-size: 16px;
	font-weight: bold;
	font-family: Tahoma;
}

li.ui-menu-item div span.ui-icon, li.ui-menu-item div.ui-widget-content li.ui-menu-item div span.ui-icon
{
	background-image: url(images/ui-icons_f8f8f8_256x240.png);
}

li.ui-menu-item div.ui-state-active span.ui-icon
{
	background-image: url(images/ui-icons_222222_256x240.png);
}

span.nav_emptyimage
{
	width : 12px;
	height: 12px;
}

.error_message
{
	color: #ff3333;
}

.calender-icon
{
	background-image: url(../images/calendar.png) !important;
	background-size: 22px 22px;
	background-position: right center;
	background-repeat:no-repeat !important;
}

.preview-icon
{
	background-image: url(../images/Actions-document-preview-icon.png) !important;
	background-size: 22px 22px;
	background-position: right center;
	background-repeat:no-repeat !important;
}

.pointer
{
	cursor: pointer;	
}

.modal.fade.show {
    opacity: 1;
}

.modal .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
}

.has-error .help-block{
	background-color: #f8e5e5;
    color: #a40505;
    padding: 3px 15px;
}

.has-error input[aria-invalid = 'true'].form-control,
.has-error select[aria-invalid = 'true']{
	box-shadow: -1px 0px 9px 0px red;	
}

a .fa{
	font-size: 18px;
    color: #364885;	
}

.navbar-brain{
	background-color: #e9ecef;
	 	
}

.navbar-brain a{
	color: #313131;
	 	
}

.navbar-brain li{
	padding-right: 20px;
	 	
}

.navbar-brain a.dropdown-item img{
	float: right;
}

.navbar-brain .dropdown-menu{
	width: 250px;
}


.navbar-brain li:hover, 
.navbar-brain a.dropdown-item:hover{
	background-color: #d0d7dd;	
}

.navbar-brain li:hover a{
	color: #41212d;	
	
}

