@charset "ISO-8859-1";




.branch-content
{
	max-width: 1024px;
	min-width: 350px;
	margin: 20px auto 0 auto;
	width: calc(100vw - 100px);
	padding: 5px;
	line-height: 35px;
}

.site-wahtwedo-content
{
	max-width: 1024px;
	min-width: 350px;
	margin: 20px auto 0 auto;
	width: 1024px;
	padding: 5px;
	
}

.box-list
{
	margin-top: 10px;
	margin-bottom: 20px;
}

.box-list div.item
{
	display: block;
    float: left;
    margin: 5px calc(25% - 235px);
    width: 300px;
    padding: 10px;
    height: 200px;
    line-height: 30px;
    background-color: #f4f4f4;
    transition: all 200ms ease-out;
}

.box-list div.item.short
{
    height: 120px !important;
    line-height: 30px;
}

.box-list div.item div
{
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	border-bottom: 1px solid gray;
	margin-bottom: 9px;
}

.box-list div.item:hover
{
	box-shadow: 0 0 10px rgba(10, 10, 10, 1);
}

@media(max-width: 1100px)
{
	
	.box-list div.item
	{
	    margin: 5px calc(50% - 150px);
	}
	
}
	
