

.candidate-main-content
{
	margin-top: -5px;
	min-height: 200px;
	background-color: #f6f6f6;
}

.box-karriere img
{
	width: 72px;
	height: 72px;
}


.das_sagen_kunden_candidate
{
	background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1) ), url('../images/candidaten-customers.jpg');
    background-size: cover;
}

.pagination-content .pagination-content-item
{
	position: absolute;
	top: 120px;
	width: 100%;
	height: 260px;
}

.text-title-bewerber
{
	font-size: 19px;
	font-weight: bold;
	color: #1a3156;
}

