
.jobview-jobpanel {
	
}

.jobview-rightpanel {
	position: fixed;
	right: 40px;
	width: 270px;
    margin-bottom: 30px;
    border: 1px solid #aaaaaa;
    padding: 15px;
    background: white;
    top: 120px;
}

.jobview-rightpanel div.desc {
	font-size: 18px;
	font-weight: bold;
	color: rgb(24, 32, 100);
}

.jobview-rightpanel div.desc a.email {
	font-size: 16px;
	font-weight: bold;
	color: rgb(24, 32, 100);
	text-decoration: underline;
}

.jobview-rightpanel div.desc a.tel {
	font-size: 18px;
	font-weight: bold;
	color: rgb(24, 32, 100);
	text-decoration: none;
}

.jobview-rightpanel div.desc {
	font-size: 18px;
	font-weight: bold;
	color: rgb(24, 32, 100);
}

.jobview-rightpanel div.desc2 {
	font-size: 16px;
	color: rgb(24, 32, 100);
}

.jobview-rightpanel div.call-request {
	font-size: 18px;
	font-weight: bold;
	color: rgb(24, 32, 100);
	margin-top: 135px;
	margin-bottom: 20px;
	margin-left: 18px;
	border: 2px solid rgb(24, 32, 100);
	height: 60px;
	line-height: 50px;
	width: 200px;
	text-align: center;
	cursor: pointer;
}

.jobview-rightpanel div.job-print, .jobview-rightpanel div.job-sendemail {
	font-size: 14px;
	font-weight: bold;
	color: rgb(24, 32, 100);
	margin-top: 2px;
	text-align: right;
	cursor: pointer;	
}


.jobview-pagetitle 
{
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    line-height: 70px;
    vertical-align: middle;
    float: left;
    background: #1a3156;
    color: white;
    width: 50%;
    text-align: right;
    padding-right: 50px;
}

.jobview-pagetitle .job-title-gender
{
	padding-left: 10px;
}

.jobview-favstar {
    margin-top: 20px;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 20px;
    float: right;
}


.buttonbewerben {
    border: 2px solid #a9cb14;
    background-color: #a9cb14;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    width: 200px;
    padding: 3px;
    text-align: center;
    font-size: 18px;
    height: 50px;
    line-height: 40px;
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}

.buttonbewerben:hover {
    color: #ffffaa;
    text-decoration: none;
}

#callpannel
{
	padding: 10px;
	padding-top: 30px;
}

#callpannel .title2
{
	font-size: 22px;
	font-weight: normal;	
	margin-bottom: 20px;
}

#callpannel .desc
{
	font-size: 14px;
	font-weight: normal;	
	color: #888888;
}

#callpannel .desc2
{
	font-size: 12px;
	font-weight: normal;	
	margin-top: 10px;
	color: #888888;
}

#callpannel .j2jgreentext
{
	font-size: 14px;
	font-weight: normal;	
	margin-top: 10px;
}

#callpannel .data input[type="text"]
{
	width: 95%;
}

#callpannel .data textarea
{
	width: 95%;
	height: 100px;
}

#callpannel .sendbutton
{
	width: 160px;
	height: 50px;
	margin-left: 130px;
	margin-top: 20px;
	text-align: center;
	line-height: 45px;
	font-size: 26px;
	cursor: pointer;
}

.jobview-container
{
    width: 800px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.jobview-info
{
	border: #e2e1e1 2px solid;
    padding: 20px;
}

.jobview-info div
{
    color: #1a3156;
    font-size: 22px;
}

.jobview-info div span
{
	font-weight: bold;
    width: 280px;
    display: inline-block;
    height: 34px;
}

.jobview-twinbox
{
	border: #e2e1e1 2px solid;
    margin-top: 20px;
    width: 46%;
    padding: 20px;
    float: left;
    height: 300px;
    overflow: hidden;
}

.jobview-tasks
{
    float: left;
}

.jobview-skills
{
    float: right;
}

.jobview-tasks .tasks-title,
.jobview-skills .skills-title
{
	font-weight: bold;
    width: 220px;
    color: #1a3156;
    font-size: 18px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.jobview-tasks ul, 
.jobview-skills ul 
{
    margin-left: 10px;
}

.jobview-tasks ul li, 
.jobview-skills ul li 
{
    line-height: 25px;
    margin-bottom: 5px;
}
